body {
    text-align: center;
}

#introductiona {
    background: linear-gradient(#b099c9 0%, #fa0202 100%);
    height: 450px;
    padding-top: 100px;
    z-index: 10;
}

.ProfilePicture {
    border-radius: 60%;
    width: 250px;
    height: 280px;
}

.line {
    height: 5px;
    width: 80px;
    background-color: black;
    margin: auto;
}

h1 {
    font-family: cursive;
}

h2 {
    font-family: sans-serif;
}

h3 {
    font-family: serif;
}

.menu {
    padding-top: 0px;
    list-style: none;
    position: fixed;
    right: 10px;
    z-index: 12;
    cursor: pointer;
    color: chartreuse;
}

.items {
    float: left;
    padding-left: 10px;
    font-family: serif;
    font-size: 27px;
    color: chartreuse;
    background-color: #333;
    padding: 14px 35px;
    border-right: 1px solid #bbb;
}

.items:hover {
   background-color: lightseagreen;
}

#My favourite hobby {
    padding-top: 60px;
}

a {
    text-decoration: none;
    color: crimson;
    text-shadow: 2px 2px darkgray;
}

.menu a {
    color: chartreuse !important;
}

#my drawings {
    font-size: 30px !important;
}

#link {
    cursor: pointer;
    font-size: 30px;
}

img {
    border-radius: 60%;
    border-color: black;
    border: 10px;
}

img:hover {
    height: 280px;
    width: 250px;
}
#My Inspiration {
    background-color: brown;
}

#Contact_1 {
    background-color: cyan;
}

#Contact_2 {
    background-color: cyan;
}